# --- GİZLİ ANAHTARLAR (BUNLAR ASLA GİTMEMELİ) ---
.env
client_secret.json
token.pickle
tiktok_cookies.pickle
credentials.json

# --- GEREKSİZ DOSYALAR ---
__pycache__/
*.pyc
.DS_Store

# --- SANAL ORTAM ---
venv/
.venv/
env/

# --- BÜYÜK MEDYA DOSYALARI (GitHub şişmesin) ---
media_files/
final_videos/
temp/
*.mp4
*.mp3

# --- IDE AYARLARI ---
.vscode/
.idea/